
<div class="text-center"><h2>待辦事項： <%= @todo.name %></h2></div>
<br>
<div class="text-center"><h3>內容： <%= @todo.note %></h3></div>
<hr>
<div class="text-center"><h5>截止日期： <%= @todo.due_date %></h5></div>

<div class="links"><%= link_to "Back to index" , todos_path , class: "btn btn-default" %></div>