@import 'bootstrap-sprockets';
@import 'bootstrap';

* {
  box-sizing: border-box;
}
 $white_opaque: rgba(250, 250, 250, .3);
 $dark: #1F7972;
 $line_height: 2em;
 $min_h:2em;
html {
  height: 200%;
}

body {
  height: 100%;
  background: -webkit-linear-gradient(40deg, #4CB8C4 10%, #EAECC6 100%);
  background:    -moz-linear-gradient(40deg, #4CB8C4 10%, #EAECC6 100%);
  background:     -ms-linear-gradient(40deg, #4CB8C4 10%, #EAECC6 100%);
  background:      -o-linear-gradient(40deg, #4CB8C4 10%, #EAECC6 100%);
  background:         linear-gradient(40deg, #4CB8C4 10%, #EAECC6 100%);
  min-width: 290px;
  font-family: 'Lato';
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.forms {
  padding: 0 5%;
}
hr {
  margin: 10px auto;
}
label {
  color: $dark;
}
#notice {
  text-align: center;
  font-size: 1em;
  color: $dark;
  font-weight: 100;
}
input[type="text"], textarea {
  width: 100%;
  margin: .5em 2% 1em 0;
  display: inline-block;
  outline: none;
  background: rgba(250,250,250,.4);
  border: none;
  height: 40px;
  border-radius: 4px;
  padding: 1em 2em;
}
textarea,{
  height: 200px;
  font-size: 20px;
}
input {
  font-size: 20px;
}
input[type="submit"] {
  background: white;
  outline: none;
  border: none;
  height: 40px;
  border-radius: 4px;
  width: 150px;
  display: inline-block;
  transition: all .4s ease-in-out;
  cursor: pointer;
  color: $dark;
  &:hover {
    background: $dark;
    color: white;
  }
}
::-webkit-input-placeholder { color: $dark; }

#todo-list {
  font-size: 24px;
  #todo-items {
    border:2px solid $white_opaque;
    border-radius: 30px;
    width: 80%;
    margin:5px auto;
    .completed {
      text-align: center;
    }
    .todo-item {
      p.todo-info {
        text-align: center;
        margin: 0;
      }
      p.todo-date {
        text-align: center;
        margin: 0;
        font-size: 16px;
      }
    }
    .todo-btn {
      text-align: center;
    }
  }
}
i.fa {
  font-size: 24px;
}
.btn, {
  font-size: 10px;
}

.links {
  text-align: center;
}

h1.todo-title {
  font-size: 24px;
}
.todo-sub-title {
  font-size: 14px;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
  #todo-list {
    font-size: 30px;
    #todo-items {
      border: 0;
      border-radius: 0px;
      width: 100%;
      margin:0 auto;
      .completed {
        text-align: right;
      }
      .todo-item {
        p.todo-info {
          text-align: left;
        }
        p.todo-date {
          font-size: 20px;
          text-align: right;
          line-height: 42px;
        }
      }
      .todo-btn {
        text-align: center;
      }
    }
  }
  i.fa {
    font-size: 30px;
  }
  .btn, input {
    font-size: 24px;
  }
  h1.todo-title {
    font-size: 36px;
  }
  .todo-sub-title {
    font-size: 20px;
  }
}
/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {
  #todo-list {
    font-size: 36px;
    #todo-items {
      .todo-item {
        p.todo-date {
          font-size: 24px;
          line-height: 51px;
        }
      }
    }
  }
  i.fa {
    font-size: 36px;
  }
  .btn, input {
    font-size: 26px;
  }

  h1.todo-title {
    font-size: 40px;
  }
  .todo-sub-title {
    font-size: 26px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    p.todo-date {
      line-height: 42px;
  }
}